$P-000: #000000;
$P-200: #141414;
$P-400: #292929;
$C-000: #616161;
$B-000: #FFFFFF;
$B-200: #F4F4F4;
$C-400: #E8E8E8;
$C-200: #B5B5B5;
$N-000: #080910;
$N-100: #161723;
$N-200: #2B2C37;
$N-300: #353641;
$N-400: #3C3E49;
$N-500: #434550;
$N-600: #4A4C57;
$primary: #5F6BBF;
$success: #1DB954;
$danger: #E62838;
$warning: #FFB700;
