#file-info-section{
    width: 100%;
    margin-top: 1rem;
    display: flex;

    .file-name, .file-size{
        flex: 1;

        &:last-of-type{
            padding-left: 0.5rem;
        }

        h3{
            @include noselect();
            @include subtitle();
            color: $C-200;
            margin-bottom: 0.5rem;
        }

        p{
            @include bodytext();
            color: $C-200;
        }
    }
}