.simple-button{
    border-radius: 0.25rem;
    outline: none;
    min-width: 9.75rem;
    height: 2rem;
    padding: 0 0.5rem;
    background-color: $primary;

    > span{
        color: $B-000;
        @include buttontext();
    }

    &:hover{
        cursor: pointer;
        filter: saturate(.7);
    }
}