.simple-button{
    border-radius: 0.25rem;
    outline: none;
    min-width: 9.75rem;
    height: 2rem;
    padding: 0 0.5rem;
    background-color: $primary;
    -webkit-appearance: none;

    > span{
        color: $B-000;
        @include buttontext();
    }

    &:hover{
        cursor: pointer;
        background-color: $primary-200
    }
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}