#window-bar {
    display: block;
    position: relative;
    // position: fixed;
    // top: 0;
    height: 2rem;
    width: 100%;
    background-color: $N-200;
    color: $B-000;
    @include noselect();


    #drag-region {
        // width: 100%;
        height: 100%;
        -webkit-app-region: drag;
        display: grid;
        grid-template-columns: auto 8.625rem;
        padding-left: 0.625rem;
    }

    #window-controls {
        -webkit-app-region: no-drag;
        display: grid;
        grid-template-columns: repeat(3, 2.875rem);
        position: absolute;
        top: 0;
        right: 0;
        height: 2rem;

        .button {
            user-select: none;
            grid-row: 1 / span 1;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.875rem;
            height: 100%;

            &:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }

            &:active {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }

        #close-button {
            &:hover {
                background-color: #E81123 !important;
            }

            &:active {
                background-color: #F1707A !important;

                .icon {
                    filter: invert(1);
                }
            }
        }

        #min-button {
            grid-column: 1;
        }

        #max-button,
        #restore-button {
            grid-column: 2;
        }

        #close-button {
            grid-column: 3;
        }

        #restore-button {
            display: none !important;
        }
    }
}

#window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 0.75rem;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 1.5;
    }
}

@media (-webkit-device-pixel-ratio: 1.5),
(device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2),
(device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3),
(device-pixel-ratio: 3) {
    #window-controls .icon {
        width: 0.625rem;
        height: 0.625rem;
    }
}

.clear-hover {
    background-color: transparent !important;
}
